<%- include("partials/header")-%>
<!-- this section gone to header.ejs  -->
    <!-- <h1>It's a !</h1> -->
  <!-- //this is ejs template  value is taken from app.js -->
  <!-- if want to use js in ejs file then you have to every line of js code 
  under a syntax like this  -->
  <!-- i cannot write actual syntax of ejs no output becuase it cause error in also
  in comment code -->




  <div class="box" id="heading">

    <!-- value come from app.js in kindofday -->
    <h1><%=listTitle%></h1>
  </div>
  <div class="box">
    <ul>
      
      <%newListItems.forEach(function(item){%>
        <form action="/delete" method="post">
        <div class="item">
          <input type="checkbox" name="checkbox" onchange="this.form.submit()" value="<%=item._id%>">
          <p><%=item.name%></p>
          <!-- it not shown on browser -->
          <input type="hidden" name="listName" value="<%=listTitle%>">
        </div>
      </form>
      <%})%>
  
    </ul>
    <!-- action is used for route of app.js  -->
  <form class="item"action="/list" method="post">
    <input type="text" name="newItem" placeholder="New item" required>
    <button type="submit" name="list" value=<%=listTitle%>>+</button>
  </form>
  </div>
 



  
<!-- this section gone to footer.html  -->
<%- include("partials/footer") -%>